$c-secondary: #a3a3a3;
$c-success: #00b200;
$c-info: #00ced1;
$c-primary: darken(#00ced1,15%);
$c-dark: #3d3d3d;
$c-danger: #ff4040;
$c-warning:#ffff00;

$t-purple: #605ca8;
$t-success: #4CAF50;
$t-info: #2196F3;
$t-primary: #337ab7;
$t-dark: #404040;
$t-danger: #f44336;
$t-warning:#ff9800;
$t-default:#e7e7e7;
