
@import url("https://fonts.googleapis.com/css?family=Lato");

$file-upload-color: #c0392b;
$file-upload-size: 300px;

* {
    margin: 0;
    padding: 0;
    @include box-sizing(border-box);
}

.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 30px;
    //border: 1px solid #ccc;
    label {
        display: block;
        margin-bottom: 5px;
    }
}

.file-upload-wrapper {
    position: relative; 
    margin-bottom: 5px;
    //border: 1px solid #ccc;
}
.file-upload-input {
    width: 300px;
    color: black;
    font-size: 16px;
    padding: 9px 17px; 
    border: 1;
    background-color: white; 
    @include transition(all 0.2s ease-in); 
    float: left; /* IE 9 Fix */
    &:hover, &:focus { 
        background-color: darken(white, 5);
        outline: none; 
    }
}

.file-upload-button {
    cursor: pointer; 
    display: inline-block; 
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 11px 20px; 
    border: none;
    margin-left: -1px;  
    background-color: #0099cc; 
    float: left; /* IE 9 Fix */
    @include transition(all 0.2s ease-in);
}
.file-upload-button:hover{
        background-color: #007aa3;
}